APP_NAME=TechnoLogis
APP_ENV=local
APP_KEY=base64:sN6gYChdUhHyUVD/+o22osZzCqZtk/p2e7o8ulTsTWk=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=technologis
DB_USERNAME=root
DB_PASSWORD=

GOOGLE_CLIENT_ID=47043345430-r96a4tj71tvsng9k13bhumrfpfagnagp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_REDIRECT=http://127.0.0.1:8000/auth/google/callback

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=bayusafutra35@gmail.com
MAIL_PASSWORD=yvbkgqllxifmrchc
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="bayusafutra35@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
